/* iPad Portrait/Browser */
/*	@media only screen and (min-width: 768px) and (max-width: 991px) {
#container {width:90%;}
#hmmain.container_12 .grid_6 {width: 100px;}*/

/*}*/
/* Mobile/Browser */
@media only screen and (max-width: 767px) {
	.container_16 {width:96%;}
	.cntrmain {width:100%;}
}

/* Anything smaller than standard 960 */
@media only screen and (max-width: 959px) {
	
}

@media handheld, screen and (max-width: 480px), screen and (max-device-width: 480px) {
	.container_16 .grid_11, .container_16 .grid_5, .container_16 .grid_10  {width:91%;}
#logo_img {width:120px;}
	form li.leftHalf, form li.rightHalf {width: 90% !important;}
	form li.rightHalf, form li.rightThird {	float: left;}
	.cntrbody .grid_11, .cntrbody .grid_5 {margin-bottom:30px;padding:5% 4%; background:#e4e2d9;}
	.gsc-control-cse, .gsc-control-cse .gsc-table-result {width: 92% !important;height:100%;}
	.cse .gsc-control-cse::after, .gsc-control-cse::after {visibility: visible !important;}
	.ui-accordion-content ul li.left {width:90%;}
	.ui-accordion-content ul li.left .cssbtn {width:80%;}

/* Mobile Landscape/Browser */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* iPad Portrait Only */
@media only screen and (min-width: 768px) and (max-width: 991px) and (max-device-width: 1000px) {
	
}
/* desktop */
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/* Mobile Only */
@media only screen and (max-width: 767px) and (max-device-width: 1000px) {

}

/* Mobile Landscape Only */
@media only screen and (min-width: 480px) and (max-width: 767px) and (max-device-width: 1000px) {

}

/* Prevent iOS, WinMobile from adjusting font size */
html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}


