{# vim: set sw=2 ts=2 expandtab: #}
<div class="grid_5 hd">
	<a href='/'><img src="/imgs/sp_logo.png" alt="XParty Logo" id="logo_img" /></a>
	</div><!-- end grid_5 -->
	
	<div class="grid_10 hd">
    <div align="right" id="header_user_info" class="light">
{% if is_logged_in %}
    {{ displayname }}
    {% if role == "teacher" %}
        <a class="header_link" href='/teacher_dashboard' id="dashboard_link">Dashboard</a>&nbsp;
        <a class="header_link" href='/teacher_logout' id="logout_link">Logout</a>&nbsp; 
    {% endif %}
    {% if role == "student" %}
        <a class="header_link" href='/student_logout' id="logout_link">Logout</a>&nbsp; 
    {% endif %}

{% else %}

  <div class="login_text light">
  Login as
  <a class="header_link" href='{{ teacher_login_url }}' id="header_teacher_link">teacher</a>
  or
  <a class="header_link" href='/student_login' id="header_student_link">student</a>
  </div><!-- end login text -->
{% endif %}
</div> <!-- end align right -->
 </div> <!-- end grid_10 -->


