<!--
# XParty - A Framework for Building Tools for Learning in a Web-Based Classroom
# Author: Ben Bederson - www.cs.umd.edu/~bederson
#         University of Maryland, Human-Computer Interaction Lab - www.cs.umd.edu/hcil
# Date: Originally created July 2011
# License: Apache License 2.0 - http://www.apache.org/licenses/LICENSE-2.0
-->

<html>
  <head>
    <meta name="viewport" content="width=device-width" user-scalable="yes" initial-scale="1.0" /> <!-- iphone,android -->
	<link rel="stylesheet" type="text/css" href="/css/reset.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/css/grid.css" media="screen" />
	<link rel="stylesheet" type="text/css" href="/css/nav.css" media="screen" />
	<!--[if IE 6]><link rel="stylesheet" type="text/css" href="/css/ie6.css" media="screen" /><![endif]-->
	<!--[if IE 7]><link rel="stylesheet" type="text/css" href="/css/ie7.css" media="screen" /><![endif]-->
	<!--[if IE 8]><link rel="stylesheet" type="text/css" href="/css/ie8.css" media="screen" /><![endif]-->
	<!--[if IE 9]><link rel="stylesheet" type="text/css" href="/css/ie9.css" media="screen" /><![endif]-->
	<link type="text/css" rel="stylesheet" href="/css/main.css" />
	<link type="text/css" rel="stylesheet" href="/css/mobile.css" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<title>XParty</title>
  </head>
  
  <body>
	<div class="container_16 cntrmain">
	   <div class="grid_16 branding">
	       <!-- before script -->
	       {{ header|safe }}
	       <!-- after script -->
	       {% if msg %}<div class="msg"><p>{{ msg }}</p></div>{% endif %}
	       <div class="clear"></div>
	   </div><!--- end grid_16 -->
    </div><!-- end container_16 -->
		
	<div class="container_16">
	   <div class="grid_16 main">
	       <p>XParty is a research effort of <a href="http://www.cs.umd.edu/~bederson">Ben Bederson</a>, <a href="http://alexquinn.org">Alex Quinn</a>, and <a href="http://www.cs.umd.edu/hcil/members/arose">Anne Rose</a> at the University of Maryland's <a href="http://www.cs.umd.edu/hcil">Human-Computer Interaction Lab</a> to help people build tools for learning in a web-based classroom.</p>

	       <p>This is very much a work in progress, and we welcome all comments. Please send comments to Ben Bederson whose email is his last name at gmail.com.</p>

	       <p>&nbsp;</p>

	       <p>Funded in part by Google.</p>
	
	       <div id="log"></div>
	   </div><!--- end grid_16 -->
	</div><!--- end container_16-->
	
	<script type="text/javascript" src="/js/jquery-fluid16.js"></script>
  </body>
</html>
