{% extends "student.html" %}
{# vim: set sw=2 ts=2 expandtab: #}

{% block custom_head %}
<script type="text/javascript" src="/custom/question_and_answer/js/student_question_and_answer.js"></script>
{% endblock %}

{% block task_gui %}    
<div id="question" style="margin-top:10px; margin-bottom:5px"></div>
<input id="answer" type="text" class="field text fn flwid" style="margin-bottom:5px"></input><br/>
<button class="cssbtn" id="submit_answer">Submit Answer</button>
<div id="status" class="note" style="margin-top:5px"></div>
{% endblock %}