{% extends "student.html" %}
{# vim: set sw=2 ts=2 expandtab: #}

{% block custom_head %}
<link rel="stylesheet" type="text/css" href="/custom/css/student_search.css" />
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript" src="/custom/js/common_search.js"></script>
<script type="text/javascript" src="/custom/js/student_search.js"></script>
{% endblock %}

{% block side_panel_lower %}
<h5>Response</h5>
<input id="response" class="text small flwid" style="margin-bottom:10px" />
<h5>Note</h5>
<textarea rows="2" id="response_note" class="textarea small flwid" style="margin-bottom:5px"></textarea>
<button id="response_save_button" class="cssbtn">Save</button>
<div id="response_msg"></div>

<h3 style="margin-top:20px">Search History</h3>
<div id="search_history">(none)</div>
{% endblock %}

{% block task_gui %}
<div id="search_container">
    <div id="custom_search_control">Loading...</div>
    <script type="text/javascript" src="/custom/js/student_search.js"></script>
</div>
<div id="results_container" style="display:none">
    <h5 id="rate_to_continue">Rate this page to <a href="#" onclick="switchToSearch(); return false;">return to search</a>
    <span style="white-space:nowrap">
    <button id="helpful_button" class="cssbtn smallest" value="Helpful"><img src="/custom/imgs/helpful.png" alt="helpful" class="h" width="12" height="12" /> Helpful</button>
    <button id="unhelpful_button" class="cssbtn smallest" value="Not helpful"><img src="/custom/imgs/unhelpful.png" alt="not helpful" class="nh"  width="12" height="12" /> Not helpful</button>
    </span>
    </h5>
    <div id="results">
        <div id="results_title">...</div>
        <iframe id="results_frame">Loading...</iframe>
        <p id="no_frame_message">Can not display this page inside this frame.  Opened in another tab/window.</p>
    </div>
</div>
{% endblock %}