{% extends "task_side_panel_layout.html" %}
{# vim: set sw=2 ts=2 expandtab: #}

{% block head %}
  <title>XParty - Teacher View</title>
  <link rel="stylesheet" type="text/css" href="/css/task_chooser.css"></link>
  <script type="text/javascript" src="/js/common.js?version=091812"></script>
  <script type="text/javascript" src="/js/lesson.js?version=091812"></script>
  <script type="text/javascript" src="/js/teacher.js?version=091812"></script>
  <script type="text/javascript" src="/js/task_chooser.js"></script>
  
  <script type="text/javascript">
  // <![CDATA[
    var TOKEN = "{{ token }}";
    {{ lesson|init_lesson_js }}    
    {{ students|init_students_js }}
    {{ task_histories|init_task_histories_js }}
                
    $(document).ready(function() { 
       initializeTeacher();
    });
        
  // ]]
  </script>
{% endblock %}

{% block top %}
<div class="container_16 cntrmain">
  <div class="grid_16 branding">
      {% include "header.html" %}
      <div class="clear"></div>
  </div><!--- end grid_16 -->
</div><!-- end container_16 -->
{% endblock %}

{% block side_panel_lower %}
  <div id="side_button_bar"></div>
  <div id="side_button_bar2"></div>
  <p># students logged in: <span id="num_students">0</span></p>
{% endblock %}

{% block content_area %}
  <div id="data_container">
	<header class="info">
		<h2>Activity <span id="inactive" style="color:red; text-transform:uppercase; display:none" class="small">Inactive</span></h2>
		<h5 id="lesson_title"></h5>
		<h6>Activity code: <span id="lesson_code"></span></h6>
	</header>
	<br/>
    <div id="data_pane"></div>
  </div>
{% endblock %}
