html, body {
    background-color: #E9E9E9; 
    font-size: 11pt;
    font-family: helvetica, arial, sans-serif; 
    border-bottom: 1px solid #888;
}

#logo {
    float: left;
    margin: 15px 0px 15px 10px;
}

#msg, .note {
    font-size: 10pt;
    color: #888888;
    margin-top: 10px;
}

#tagcloud_area {
    float: left;
    width: 250px;
    margin: 15px;
}

#tagcloud_frame {
    background-color: #E9E9E9;
    border: none;
}

#task_area {
    float: left;
    margin: 15px;
}

#task_description {
    font-size: 10pt;
    font-style: italic;
}

.smallspaceafter {
    margin-bottom: 5px;
}

.mediumspaceafter {
    margin-bottom: 10px;
}