body {
	width:450px;
	font: 10pt Arial;
}

#header {
    margin-top: 10px;
    margin-bottom: 10px;
}

#title {
	font: bold 12pt Arial;
	float: left;
	width: 250px;
}

#user_info {
    font: normal 10pt Arial;
    float: right;
}

.note {
	font-size: 8pt;
	font-weight: normal;
	font-style: italic;
}

.smallspacebelow {
    margin-bottom: 5px;
}

.warning {
    color: red;
}
