{% extends "base.html" %}
{# vim: set sw=2 ts=2 expandtab: #}

{% block head %}
  <title>XParty - Admin</title>
  <script type="text/javascript" src="/js/common.js"></script>
  <script type="text/javascript" src="/js/lesson.js?version=072512"></script>
  <script type="text/javascript" src="/js/admin.js?version=072512"></script>
{% endblock %}

{% block body %}
<div class="container_16 cntrmain">
    <div class="grid_16 branding">
        {% include "header.html" %}
        <div class="clear"></div>
     </div>
</div>
    
<div class="container_16">
    <div class="grid_16 main">
        <header class="info">
            <h2>Admin Area</h2>
        </header>
        <div id="content">
            <p style="padding-left:0px">
            <button class="cssbtn" id="logout_students_btn" onclick="logoutAllStudents('Do you wish to logout all students from all teacher activities?', undefined, ALL_LESSONS); return false;">Logout All Students</button><br/>
            <!--<button class="cssbtn" id="update_values_btn" onclick="updateValues(); return false;">Update Values</button>-->
            </p>      
        </div>
    </div>
</div>
{% endblock %}